* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#example {
  display: none;
}

#preview {
  display: block;
}


#toggle-canvas {
  position: relative;
  height: 30px;
  padding: 0 20px;
  top: 50px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background: linear-gradient(90deg, #7957ff, #a824e6);
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  color: white;
  overflow: hidden;
  text-decoration: none;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 15px;
}

.inputs {
  max-width: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*padding: 50px;*/
}

.input {
  display: flex;
  flex-direction: column;
}

.input input, .input select {
  padding: 8px;
}

.commission {
  display: none;
}

#get-screen, #download-screen {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background: linear-gradient(90deg, #29f19c, #02a1f9);
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  color: white;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: all 200ms ease-out;
  cursor: pointer;
}

#get-screen {
  background: linear-gradient(90deg, #ffeb38, #d1f1a1);
  color: black;
  box-shadow: none;
  border: none;
}

#get-screen img, #download-screen img {
  margin-left: 10px;

}

#download-screen img {
  filter: invert(1);
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
  }

  .inputs {
    width: 100%;
  }
}